{% if request.session.is_login and request.session.account_type == 2%}
    <section role="main" class="content-body">
					<header class="page-header">
{#                        <h2>Nhân viên mới</h2>#}
					</header>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-6">
							<form id="summary-form" action="" class="form-horizontal" method="post" name="random">{% csrf_token %}
								<section class="panel">
									<header class="panel-heading">

										<h2 class="panel-title">Nhân viên bàn giao thiết bị cho IT</h2>

									</header>
									<div class="panel-body">
										<div class="validation-message">
											<ul></ul>
										</div>
                                        <div class="form-group" onload="loadDoc()">
											<label class="col-sm-3 control-label">Phòng ban</label>
											<div class="col-sm-6" id="departments">

												<label class="error" for="company"></label>
											</div>
										</div>
                                        <div class="form-group">
											<label class="col-sm-3 control-label">Nhân sự</label>
											<div class="col-sm-6">
												<select name="staff" id="staff-id" class="form-control" required onchange="getcube1()">
                                                    <option value="">Chọn</option>
												</select>
												<label class="error" for="company"></label>
											</div>
										</div>
                                        <div class="form-group">
											<label class="col-sm-3 control-label">Thiết bị</label>
											<div class="col-sm-6" id="devicetlist">
                                                <select class="form-control">
                                                    <option value="">Chọn</option>
                                                </select>
												<label class="error" for="company"></label>
											</div>
										</div>
									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-sm-9 col-sm-offset-3">
												<button class="btn btn-primary">Submit</button>
												<button type="reset" class="btn btn-default">Reset</button>
											</div>
										</div>
									</footer>
								</section>
							</form>

						</div>
                        <div class="col-md-6">
								{% for message in messages %}
                                            <font color="red" style="margin-top:10px">{{ message }}</font><br>
                                        {% endfor %}
							</div>
					</div>
					<!-- end: page -->
{#                    <button type="button" onclick="loadDoc()">Request data</button>#}
				</section>
{% else %}
        <script language="javascript">
  window.location = "/";
</script>
{% endif %}